#custom-box{
  max-width: 900px;
  margin: 0 auto;
}
#custom-box input, #custom-box textarea, #custom-box select, #custom-box option {font-family: Montserrat, "Helvetica Neue", sans-serif;}

#custom-box-form {
    display: flex;
    /*font-family: Montserrat, "Helvetica Neue", sans-serif*/
}
#custom-box-form-customize{
  min-width: 400px;
}
#custom-box-panel {
    overflow: auto;
    height: 420px;
    width: 420px;
    margin-left:20px;
}

#custom-box-canvas {
    border: solid 1px #ccc;
    background-image: url('./assets/grid3-bg.jpg');
}

#custom-box h3{
  color: #1a1a1a;
}

#custom-box h4 {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: bold;
}

#custom-box .custom-box-form-section {
    margin-bottom: .5em;
    /*border: solid 1px #ccc;
    background-color: #eeeeec;
    border-radius: 4px;
    overflow: hidden;*/
}

/*
#custom-box .custom-box-form-section h4 {
    padding: .5em;
    margin: 0;
}
*/
#custom-box .custom-box-form-section-inline{
  position: relative;
}

#custom-box .custom-box-form-section-inline h4 {
  display: inline-block;
}
#custom-box .custom-box-form-section-inline .custom-box-form-section-inline-content {
  position: absolute;
  right: 8px;
  top: 2px;
}


#custom-box .custom-box-form-section-content {
    padding: .5em 1em .5em 1em;
    /*background-color: #f9f9f9*/
}

#custom-box .custom-box-form-section-content .field {
    display: flex;
}

#custom-box .custom-box-form-section-content label {
    margin-right: 2em;
}

#custom-box .custom-box-form-section-content .field-element {
    flex-grow: 2;
}

#custom-box .custom-box-form-section-content .range-label {
    font-size: .8em;
    text-align: right;
    margin-left: .5em;
}

#custom-box .custom-box-form-section-content .box-color-btn {
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    margin: 0 .1em;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 0px rgba(213, 213, 213, 0.75);
}

#custom-box .custom-box-form-section-content .cutsom-box-asset-image-button{
  display: inline-block;
  width: 36px;
  height: 36px;
  padding: 2px;
  margin-right:8px;
  border: solid 2px #ddd;
  border-radius: 4px;
  cursor: pointer;
}

#custom-box .custom-box-form-section-content .cutsom-box-asset-image-button.active{
  border-color: #333;
}

#custom-box .custom-box-form-section-content .cutsom-box-asset-remove-link{
  display: inline-block;
  height: 36px;
  padding: 2px;
  text-decoration: underline;
  color: #ddd;
  margin-left: 16px;
  cursor: pointer;
}

#custom-box #assetZoom{
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  height: auto;
  padding: 10px;
  border: solid 1px #ddd;
  background-color: white;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#custom-box #assetZoom label{
  display: block;
  font-weight: bold;
}

#custom-box .custom-box-form-section-content .cutsom-box-asset-image-button:hover{
  border-color: #333;
}



#custom-box .custom-box-form-section-content .box-color-btn:hover {
    cursor: pointer;
}
/*
#custom-box .custom-box-form-section-content .box-wheel-btn {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 0 .1em;
    font-size: 42px;
    color: #666;
    font-weight: bold;
}

#custom-box .custom-box-form-section-content .box-wheel-btn:hover {
    cursor: pointer;
}
*/

#custom-box-form-order .field{
  margin: .5em 0;
}

#custom-box-form-order .field label{
  font-weight: bold;
  margin-right: 1em;
  padding: 0.625em 0;
  width: 6em;
}

#custom-box-form-order .field p{
  margin: 1em 0 0 0;
}

#dragandrophandler
{
  border:2px dotted #0B85A1;
  width:auto;
  color:#92AAB0;
  text-align:left;vertical-align:middle;
  padding:10px 10px 10 10px;
  margin-bottom:10px;
  font-size:200%;
}

/* validation */
#custom-box input.error{border: solid 1px red;}
#custom-box label.error{color: red;}
